body{
    font-family:'Poppins', sans-serif; 
}
a:hover{
    color: white;
    text-decoration: none;
}
.butn:hover{
    background: linear-gradient(91.8deg, #03A08D 28.11%, rgba(0, 0, 0, 0.86) 121.15%);
    color: white;
}
#heading{
    color: #03A08D;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    text-decoration: underline;
    font-family:'Poppins', sans-serif;
}
#outer_div{
    display: flex;
}
#left_div{
    margin-top: 50px;
    display: inline-block;
    width: 400px;
    margin-bottom: 70px; 
    color: black;
}
#right_div{
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-color: gray;
    border-radius: 5px;
    display: inline-block;
    margin-left: 40px;
    width: 600px;
    height: 412px;
    margin-top: 50px;
    margin-bottom: 70px; 
}
#default{
    background: linear-gradient(91.8deg, #03A08D 28.11%, rgba(0, 0, 0, 0.86) 121.15%);
    color: white;    
}
.course{
    text-align: center;
    border: groove;
    border-color: gray;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    margin-left: 200px;
    margin-bottom: 7px;
    font-weight: bold;
}
.butn{
    padding: 20px;
    border-radius: 5px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    background-color: white;
    margin-left: 90px;
    margin-top: 50px;
}




