#about-us{
    padding: 40px 70px;
    padding: 40px 25px 40px 70px;
}

.about-us-heading{
    text-align: center;
    color:  #03A08D;
}
#about-us-text{
    text-align: justify;
    margin-top: 15px;
}
#login{
    padding-left: 50px;
}
#login-inner-div{
    padding: 20px;
    margin-top: 20px;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    background: linear-gradient(91.8deg, #03A08D 28.11%, rgba(0, 0, 0, 0.86) 121.15%);
}
#submit-btn{
    display: block;
    font-size: medium;
    padding: 3px 10px;
    margin-left: 140px !important;
}
#submit-btn:hover{
    color: white;
}
.login-fields{
    /* text-align: center; */
    margin: auto;
    display: block;
}
#username{
    margin-top: 10px;
}
#cse-dept-heading{
    text-align: center;
    color:  #03A08D;
}
.cse-stats{
    text-align: center;
    border: 2px #03A08D solid;
    /* height: 200px; */
    width: 400px;
    margin: 2px;
    align-content: center;
}
.row{
    align-content: center;
}
.loginPortal{
    border-radius: 15px;
    background: linear-gradient(91.8deg, #03A08D 28.11%, rgba(0, 0, 0, 0.86) 121.15%);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
}
#submit-btn{
    margin: 15px 0px 20px 0px !important;
    align-content: center ;
}
#login-username{
    padding-top: 10px;
}